/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-oct-2018, 14:29:10
    Author     : jdtimoteq
*/
@font-face {
    font-family: "Panama-Light";
    src: url(../bootstrap/fonts/Panama-Light.otf) format("opentype");
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

/*::-webkit-scrollbar-button {
      background-color: navy;
}*/

::-webkit-scrollbar-corner {
    background-color: black;
}
#content input{
    border:none!important;
    /*background-color: #ddd!important;*/
}

textarea{
    border:none!important; 
    background-color: #ddd!important;
}

select, .selection>span{
    border:none!important;
    border-radius: 0px 50px 50px 0px!important;
    /*margin-bottom: 1%!important;*/
    border: 1px solid #e4e7ea!important;
}

select:hover{
    border: 1px solid #f2f2f2!important;
    background-color: #f2f2f2;
    transition: 0.9s;
}

tbody tr{
    border:none!important;
    border-bottom: 1px solid #d8d8d878!important;
    border-left: none!important;
    height: 40px!important;
}

tbody tr:hover{
    background: #f2f2f2!important;
}

tbody tr td .parte1{
    color:#797979!important;
    font-family: 'Rubik', sans-serif;
    font-weight : bold!important;
}

tbody tr td .parte2{
    font-family: 'Rubik', sans-serif;
    font-size: 12px!important;
}

td{
    /*border-width:0px!important;*/
    padding: 8px;
    border-bottom: 1px solid #f2f2f2;
    color: #6f6f6f;
    border-width: 0px!important;
    font-size: 14px!important;
    line-height: 1.4!important;
    vertical-align: top;
    /*    padding-top: 16px!important;
        padding-bottom: 16px!important;*/
}
th{
    border-style: none!important;
    /*padding: 15px 8px!important;*/
    border-color: #eaeaea!important;
    /*border-bottom: 2px solid #7DBDE8!important;*/
    /*padding-left: 40px;*/
    font-weight: 600!important;
    text-transform:uppercase;
}

thead{
    border-bottom: 1px solid #d8d8d8!important
}

.tab-content, .content-header{
    box-shadow: 0 12px 20px -10px rgba(76, 120, 175, 0.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(76, 120, 175, 0.2)!important;
}

.content-header #content-header{
    color:#797979;
    font-weight : bold;
}

.panel .panel-heading{
    border-radius: 0px;
    font-weight: 600;
    font-size: 15px;
    padding: 20px 30px;
}

ui-widget-header .ui-state-hover{
    border: 1px solid #77d5f7!important;
    background: #f9f9f9!important;
    font-weight: normal!important;
    color: #ffffff!important;
}

.ui-panel {
    /*height: 40px!important;*/
    border:none!important;
    background-color: #fff!important;
    font-family: 'Rubik', sans-serif!important;
    font-weight: 400;
}
.ui-widget-content{
    background-color: #fff!important;
    font-family: 'Rubik', sans-serif!important;
    font-weight: 400;
    border:none;
}

.ui-paginator{
    border: none!important;
    background: #f3f3f3!important;
    color:#313131!important;
    font-weight: 400;
}

.ui-dialog-titlebar{
    background: #fff!important;
    color: #666666!important;
    border-bottom: 1px solid #d8d8d8!important; 
}
.ui-sortable-column, .ui-widget-header tr .ui-state-default, .ui-datatable tr .ui-state-default{
    /*border: none!important;*/
    background: #FFFFFF!important;
    font-weight: bold;
    color: #666666!important;
    /*font-family:Roboto-Bold;*/
    /*text-transform:uppercase;*/
    font-size: 14px;
    /*    padding-top: 21px;
        padding-bottom: 21px;*/
    text-align: left!important;
}

.ui-widget-header{
    background: #FFFFFF!important;
    border: none!important;
}
/*tr:hover {
    background-color:#f5f5f5!important;
}*/

tbody{
    border: none!important;
    border-style: none!important;
}

#casoEspecial .panel-body{
    padding: 0px!important;

}

#casoEspecial .panel-group .panel{
    border: none!important;
}

/*Estilos*/ 
/*.skin-blue .main-header .navbar {
    background-color: #2f323e!important;
}

*/.content-wrapper, .right-side {
    background-color: #efefef!important;
}/*

.skin-blue .main-header .logo {
    background-color: #2f313e!important;
    height: 60px!important;
}*/
/*
.sidebar-toggle {
    color:#686868;
    font-size: 20px;
    font-weight: 500;
}

.logo{
    line-height: 60px!important;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #fff;
}

body{
    font-weight: 400;
    font-size: 14px;
}

.navbar{
    height: 60px!important;
}

.main-sidebar {
    background: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    overflow-x: hidden;
    height: 500px;
    position: fixed;
}

.sidebar {
    overflow-x: hidden;
    height: 600px;
}

.sidebar-menu li ul li a{
    background: #fff!important;
}

nav li a{
    line-height: 30px!important;
}
.sidebar-menu li a  i{
    font-size: 18px!important;
}
.sidebar-menu>li>a{
    padding: 18px 35px 18px 20px!important;
}

*/#content-header{
    /*float: right;*/
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    /*position: absolute;*/
    top: 15px;
    right: 10px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}/*

*/.content-header{
    background: #fff!important;
    height: 62px;
}

.content-header .h1{
    float: right!important;
    background: transparent!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
    font-size: 12px;
    padding: 7px 5px!important;
    position: absolute!important;
    top: 15px!important;
    right: 10px;
    border-radius: 2px!important;
    text-transform: uppercase!important;
    font-size: 16px!important;
    font-weight: 600!important;
}/*

#main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 20px;
    font-family: fontAwesome;
}

#main-header .sidebar-toggle:before {
    content: "\f0c9";
}

@media (min-width: 768px)
.sidebar-mini.sidebar-collapse #main-header .logo>.logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
}

@media (min-width: 768px)
.sidebar-mini.sidebar-collapse #main-header .logo>.logo-lg {
    display: none;
}

#main-header .logo .logo-mini {
    display: none;
}*/

.circuloDesign{
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #1e88e5;
    margin-left: 25%;
}

.circuloDesignNoActivo{
    background-color: #f1f1f1;
    text-align: left;
    color: #797979;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 100px;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    height: 35px;
}

.circuloDesignActivo{
    background-color: #ff8100;
    text-align: left;
    color: #ffffff;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 100px;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    height: 35px;
}

.ui-paginator, ui-datatable-footer{
    /*float: right;*/
    background: #fff;
    /*width: 100%;*/
}

#PQRSDetailC{
    width: 100%;
    border-bottom: 1px solid #d8d8d8; 
    text-align: left;
    color: #797979;
    font-weight: bold;
    margin-bottom: 10px;
}

#informacionContacto{
    font-size: 14px;
}

#htitulo{
    color:#797979;
    font-weight : bold;   
}

.filter:hover{
    background: #f2f2f2!important;
}

.progress-bar-PorRevisar{
    background-color: #d2d6de!important;
}

/*estilos check*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    /*height: 34px;*/
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#collapseExample div{
    padding: 5px;
}

#Revision div{
    padding: 5px;
}

#EnProceso div{
    padding: 5px;
}

.base{
    border-radius: 10px;
    border-left: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    margin-bottom: 5px;
}

.btn-success:active:focus, .btn-success:active:hover{
    background-color: #e4e7ea!important;
}

btn-success:focus{
    background-color: #e4e7ea!important;
}

.btn-success.focus, .btn-success:focus {
    color: #5cb85c;
    background-color: #e4e7ea!important;
    border-color: #D8E6D6;
}

.btn-info:active:focus, .btn-info:active:hover{
    background-color: #e4e7ea!important;
}

btn-info:focus{
    background-color: #e4e7ea!important;
}

.btn-info.focus, .btn-info:focus {
    color: #0076ef;
    background-color: #e4e7ea!important;
    border-color: #D8E6D6;
}

.imgRespuesta{
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

/*Perfil*/
.white-box{
    background: #ffffff;
    padding: 25px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.user-bg {
    margin: -25px;
    height: 230px;
    overflow: hidden;
    position: relative;
}

.user-bg .overlay-box {
    background: #fff;
    opacity: 0.9;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    text-align: center;
}

.user-bg .overlay-box .user-content {
    padding: 15px;
    margin-top: 15px;
}

.text-white {
    color: #ffffff;
}

.u-img{
    width: 80px;
    display: inline-block;
    vertical-align: top;
}

.u-img img{
    width: 100%;
    border-radius: 5px;
}

.dw-user-box{
    padding: 15px;
}

.dw-user-box .u-text{
    display: inline-block;
    padding-left: 10px;
}

.u-text h4{
    margin: 0px;
}

.text-muted{
    color:#8d9ea7;
}

.btn-success{color:#5cb85c;border-color:#D8E6D6;background-color:#fff;border-radius:60px;box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);}
.btn-success:hover,.btn-success:active,.btn-success.hover{
    background-color:#e4e7ea !important;
    transition:1s;
    color:#5cb85c;
    border-color:#D8E6D6;
    opacity: 0.8;
}

.btn-success:active{
    background-color:#5cb85c !important;
    transition:1s;
    color:#5cb85c;
    border-color:#D8E6D6;
    opacity: 0.8;
}

.btn-info{color:#0076ef;border-color:#D8E6D6;background-color:#fff;border-radius:60px;box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);}
.btn-info:hover,.btn-info:active,.btn-info.hover{
    background-color:#e4e7ea !important;
    transition:1s;
    color:#0076ef;
    border-color:#d6dce6;
    opacity: 0.8;
}

.btn-info:active{
    background-color:#0076efcf !important;
    transition:1s;
    color:#0076ef;
    border-color:#d6dce6;
    opacity: 0.8;
}

/*#formModal .ui-widget-content {
    z-index: 10000 !important;
}*/

.ui-dialog-titlebar-close{
    margin-right: 20px!important;
}

.panel-primary>.panel-heading{
    /*top: -25px;*/
    margin: 0 auto!important;
    max-width: calc(100% - 32px)!important;
    border-radius: 10px 10px 10px!important;
    position: relative!important;
    box-shadow: 0 12px 20px -10px rgba(76, 120, 175, 0.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(76, 120, 175, 0.2);
    /*border-radius: inherit!important;*/
}

.panel-primary {
    border-color: #337ab700!important; 
    box-shadow: 0 12px 20px -10px rgba(76, 120, 175, 0.028), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(76, 120, 175, 0.02)!important ;
}

.panel-group{
    /*top: 25px!important;*/
    position: relative!important;
    margin-bottom: 40px!important;
}

.panel-body{
    border: none!important;
}

.modal-header{
    /*background-color: #428bca;*/
    box-shadow: 0 12px 20px -10px rgba(76, 120, 175, 0.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(76, 120, 175, 0.2);
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
}

.waves-effect img {
    position: relative;
    z-index: -1;
}

.waves-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}

.waves-circle {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
}

.waves-block {
    display: block;
}

/* Firefox Bug: link not triggered */
.waves-effect .waves-ripple {
    z-index: -1;
}

.btn-warning{
    color: #b85c5c;
    border-color: #e6d6d6;
    background-color: #fff;
    border-radius: 60px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
}

.btn-warning:hover,.btn-warning:active,.btn-warning.hover{
    background-color: #eae4e4 !important;
    transition: 1s;
    color: #b85c5c;
    border-color: #e6d6d6;
    opacity: 0.8;
}
.btn-success2{
    color:#5cb85c;border-color:#D8E6D6;
    background-color:#fff;
    border-radius:60px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
}
.btn-success2 {
    color: #fff;
    border-color: #D8E6D6;
    background-color: #5cb85c;
    border-radius: 60px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
}

.btn-primary {
    background-color: #337ab7!important;
    border-color: #337ab7!important;
}

.ui-button-text{
    /*background-color: #337ab7!important;*/
    border-color: #337ab7!important;
}

body .ui-radiobutton .ui-radiobutton-box{
    border: 1px solid #a6a6a6!important;
    background: #ffffff!important;
    width: 20px!important;
    height: 20px!important;
    text-align: center!important;
    position: relative!important;
    -moz-border-radius: 50%!important;
    -webkit-border-radius: 50%!important;
    border-radius: 50%!important;
    -moz-transition: background-color 0.3s, border-color 0.3s!important;
    -o-transition: background-color 0.3s, border-color 0.3s!important;
    -webkit-transition: background-color 0.3s, border-color 0.3s!important;
    transition: background-color 0.3s, border-color 0.3s!important;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active{
    border-color: #007ad9!important;
    background-color: #007ad9!important;
}

.ui-state-active .ui-icon{
    background-color: #ffffff!important;
}

.ui-radiobutton .ui-state-default .ui-icon{
    background-image: none!important;
}

body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon{
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    vertical-align: middle;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#serviciosB .input-group .form-group{
    margin-bottom: 0px!important;
    margin-left: 0px!important; 
    margin-right: 0px!important; 
}

.input-group .input-group-addon{
    border: 1px solid #ccc!important;
}

.btn{
    width: 100%!important;
}

.old{
    background-color: rgba(41, 131, 206, 0.3) !important;
}
.panel-body{
    padding-top: 0px !important;
}